[access]
	inheritFrom = All-Projects
[access "refs/for/refs/*"]
	push = group ldap/opnfv-gerrit-fastpathmetrics-submitters
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group ldap/opnfv-gerrit-fastpathmetrics-submitters
	label-Code-Review = -1..+1 group Registered Users
	label-Verified = -1..+1 group Non-Interactive Users
	label-Verified = -1..+1 group ldap/opnfv-gerrit-fastpathmetrics-submitters
	submit = group ldap/opnfv-gerrit-fastpathmetrics-submitters
	forgeAuthor = group ldap/opnfv-gerrit-fastpathmetrics-contributors
	forgeAuthor = group ldap/opnfv-gerrit-fastpathmetrics-submitters
	read = group GitHub Replication
[access "refs/tags/*"]
	create = group ldap/opnfv-gerrit-fastpathmetrics-submitters
	push = group ldap/opnfv-gerrit-fastpathmetrics-submitters
	pushTag = group ldap/opnfv-gerrit-fastpathmetrics-submitters
	pushSignedTag = group ldap/opnfv-gerrit-fastpathmetrics-submitters
	read = group GitHub Replication
[project]
	description = Utilities and libraries to support low latency, high performance packet processing paths through the NFVI
