#Copyright 2018 OPNFV and Intel Corporation
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
---

- name: Clean collectd config dir path
  file:
    state: absent
    path: "{{ config_file_dir }}"
  tags:
   - rm_config_dir
   - always

- name: Create collectd.d folder on remote host
  file:
    path: "{{ config_file_dir }}"
    force: yes
    state: directory
  tags:
    - always

- name: enable csv plugin
  import_tasks: csv.yml

- name: enable default plugins
  import_tasks: default_read_plugins.yml

- name: enable exec plugin
  import_tasks: exec.yml

- name: enable hugepages plugin
  import_tasks: hugepages.yml

- name: enable kafka plugin
  import_tasks: kafka.yml

- name: enable logfile plugin
  import_tasks: logfile.yml

- name: enable mcelog plugin
  import_tasks: mcelog.yml

- name: enable network plugin
  import_tasks: network.yml

- name: enable pmu plugin
  import_tasks: pmu.yml

- name: enable rdt plugin
  import_tasks: rdt.yml

- name: enable rddtool plugin
  import_tasks: rrdtool.yml

- name: enable snmp_agent plugin
  import_tasks: snmp_agent.yml

- name: enable syslog plugin
  import_tasks: syslog.yml

- name: enable virt plugin
  import_tasks: virt.yml

- name: copy additional templates to target system
  template:
    src: "{{ item }}"
    dest: "{{ config_file_dir }}/{{ item | basename | regex_replace('\\.extmp.j2','') }}"
  tags:
   - always
   - copy_extmp
  with_fileglob:
    - ../templates/*conf.extmp.j2

