#Copyright 2019 OPNFV and Intel Corporation
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
---

default_flavor: "{{ flavor|default('stable')|string }}"
flavor_image_name: "{{
         'barometer-collectd-latest' if (default_flavor == 'latest') else
         'barometer-collectd-experimental' if (default_flavor == 'experimental')
         else 'barometer-collectd' }}"
collectd_image_name: "{{ 'opnfv/' + flavor_image_name }}"
